.bottomNav{
    background-color: #343a40;
    border-top: 2px solid #43FFF4;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bottomNav img {
    margin: 5px;
    background-color: white;
    border-radius: 20px;
}

.bottomNav img:hover {
    background-color: #43FFF4;
}