section{
    height: 100%;
    margin-bottom: 250px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 100px;
}

form div{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: 20%;
}

form input:focus{
    background-color: #43FFF4;
}

form button{
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}