#contactMe{
    padding-top: 0;
}
.contactTitle{
    text-align: left;
    margin-left: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-top: 30px;
    margin-left: 100px;
}

.styled-input{
    margin: 5px 0;
    width: 650px;
    max-width: 100%;
}

label{
    font: bold "Century Schoolbook", Georgia, Times, serif;
	color: #333;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    border-radius: 4px;
    color: white;
}

.submitBtn{
    background-color: #008CBA; /* Green */
    border: none;
    border-radius: 60px;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    width: 250px;
}