body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/aboutImages/765ca76ca89f139d475c1f4a368048f0.jpeg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  margin-top: 25px;
  margin-bottom: 25px;
}

.title{
  text-align: center;
}

.title h1{
  margin: auto;
  width: 10%;
  border-bottom: 2px solid black;
}