body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li{
  list-style: none;
}

.topnav{
  background-color: black;
  border-bottom: 1px solid #43FFF4;
  padding: 5px;
}

.topnav li{
  color: white;
  padding-right: 15px;
}

.topnav a {
  color: white;
}

section {
  margin-top: 25px;
}

.aboutSection{
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 5vw);
}

.imageContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topLeftImage{
  grid-column: 1/5;
  grid-row: 1/5;
}
.topRightImage{
  grid-column: 5/10;
  grid-row: 1/5;
}
.bottomImage{
  grid-column: 1/10;
  grid-row: 5/10;
}
.aboutMe{
  width: 90%;
}
