.topnav{
    background-color: #343a40;
    border-bottom: 1px solid #43FFF4;
    padding: 5px;
    color: white;
}

h2{
    margin-left: 10px;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li{
    list-style: none;
}

.topnav a{
    color: white;
    text-decoration: none;
}

.topnav li{
    padding-right: 15px;
}

.topnav a:hover {
    color: #43FFF4;
}

