.aboutMe{
    margin: 20px;
}

.slide-container{
    width: 70%;
    height: 25%;
    margin: auto;
}

.title{
    text-align: center;
}

.title h1{
    margin: auto;
    width: 10%;
    border-bottom: 2px solid black;
}